{% extends 'shopapp/base.html' %}
{% load bootstrap4 %}

{% block page %}
<div class="offset-lg-5 col-lg-8">
    <div class="card">
      <div class="card-header bg-dark">
        <h4 class="card-title text-center text-white">
          Add product
        </h4>
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-colored add">Add</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}
