{% extends 'shopapp/base.html' %}


{% block page %}
	<div class="offset-lg-4 col-lg-10">
  <div class="card">
    <div class="card-header bg-ruby">
      <h4 class="card-title text-center text-white">
        SHOP
      </h4>
    </div>
    <div class="card-body">
        <div class="card-columns">
          {% for product in products %}
              <div class="card">
                <img class="rounded card-img-top"
                src="{{ MEDIA_URL }}{{ product.image }}">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'shop-pick-product' product.id %}">{{ product.name }}</a></h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ product.price }}</h6>
                  <p class="card-text">{{ product.short_description }}</p>
                  <a href="{% url 'shop-choose-product' product.id %}">CHOOSE</a>
                </div>
              </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endblock %}